.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

 .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

 .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.theme-customization {
  height: 100%;
  width: 100%;
  .deni-react-treeview-container {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    display: flex;
  }
}
.deni-react-treeview-container {
  height: 100% !important;
  width: 100% !important;
  flex: 1 1 auto;
  display: flex;
}

.deniTree {
  height: 100%;
  width: 100%;
}
.extractorNavPanel {
  height: 100%;
}

.FEConfigForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(20, 20, 20, .3);
}

.morphlineMenuBarTop {
    flex-direction: row;
    justify-content: flex-end;
}
.morphlineMenuBarForm {
    flex-basis: 100%;
}
.morphlineMenuBarName {
    flex-grow: 2;
}

.bottomPane {
  border-top: solid 2px #a5c7e3;
}
